extends layout
//-var hello = "hello"
block content
  h1= title
  -var hello = "Welcome"
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}p #{hello} to #{title}

  p #{hello} to #{title}p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
  p #{hello} to #{title}
